
<footer class="ftco-footer ftco-no-pt">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md pt-5">
          <div class="ftco-footer-widget pt-md-5 mb-4">
            <h2 class="ftco-heading-2">A propos</h2>
            <p>      Notre plateforme d'éducation en ligne 
                est un leader dans son domaine, offrant
               une multitude de ressources en informatique 
               et des défis de codage pour les programmeurs
               et les passionnés de technologie. Nous proposons
               également une préparation aux entretiens et 
               aux examens pour les aspirants à venir. </p>
      </div>
  </div>
  <div class="col-md pt-5">
      <div class="ftco-footer-widget pt-md-5 mb-4 ml-md-5">
        <h2 class="ftco-heading-2">Notre Liens</h2>
        <ul class="list-unstyled">
          <li><a routerLink="/" class="py-2 d-block">Home</a></li>
           <li><a routerLink="/about" class="py-2 d-block">A propos</a></li>
          <li><a routerLink="/contact" class="py-2 d-block">Nos Contact</a></li>
      </ul>
  </div>
  </div>
  <div class="col-md pt-5">
      <div class="ftco-footer-widget pt-md-5 mb-4">
         <h2 class="ftco-heading-2">Contact</h2>
         <div class="block-23 mb-3">
           <ul>
             <li><span class="icon fa fa-map-marker"></span><span class="text">Rue Tunisian, Kasserine, Tunisie</span></li>
             <li><span class="icon fa fa-phone"></span><span class="text">+216 70000000</span></li>
             <li><span class="icon fa fa-paper-plane"></span><span class="text">Education@gmail.com</span></li>
         </ul>
     </div>
  </div>
  </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
        <p>&copy;{{ currentYear }} Plateforme d'Éducation en Ligne. Tous droits réservés.</p>
    </div>
  </div>
  </div>
  </footer>
  

